*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'josefin sans', 'sans-serif';
}
body{
  background-image: linear-gradient( rgb(1, 92, 122), rgb(255, 0, 157)); 
  background-size: cover;
  background-position: center;
}
.hero{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(135deg, rgb(1, 92, 122), rgb(156, 102, 156)), url("img/bg.png"); 
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.logo{
  color: white;
  font-size: 28px;
  cursor: pointer;
  background: linear-gradient(rgb(7, 198, 237),rgb(17, 255, 160)) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.logo:hover{
  color: #0c75ff;
  transition: .3s;
  transform: scale(1.5);
}
nav{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  
  
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
 nav ul li a:hover{
  color: #0c75ff;
  transition: .3s;
 }


 .content{
  width: 100%;
  max-width: 540px;
  background-image: linear-gradient(rgb(104, 255, 235),rgb(166, 0, 255));
  background-position: center;
  background-size: cover;
  padding: 40px 30px 70px;
  margin: 100px auto 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
 }
 .content:hover{
  cursor: pointer;
  transform: scale(1.3);
  transition: .5s;
 }
 .header{
  color: rgb(255, 255, 255);
  font-size: px;
  font-weight: bold;
 }
 img{
  width: auto;
  height: 200px;
  border-radius: 20px;
 }
 .img{
  display: inline;
 }
  .information{
    height: 130vh;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin:100px;
   flex-direction: column;
   background-image: linear-gradient(rgb(186, 4, 207),rgb(0, 255, 145));
  background-position: center;
  background-size: cover;
  }
  .h1{
    font-size: 30px;
    color: #cbd1ef;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 100px;
    text-decoration-line: underline;
  }
  .web-info{
    display: flex;
    flex-direction: column;

  }
  
  .pic{
    display: flex;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 200px;
   
  }
  .item{
    width: 300px;
    height: 300px;
    background-color: #0097a2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .item:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: .5s;
  }
  .pictext{
    display: flex;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 200px;
    padding: 10px;
  }
  .pictext p{
    width: 300px;
    height: 300px;
    text-align: justify;
    margin-top: 40px;
    font-size: large;
    
  }
  .ebook{
    color: #0c75ff;
    background-color: #1edee8;
    width: 140px;
    height: 60px;
    border: 1px solid #1edee8;
    border-radius: 20px; 
  
  }
 
 .divbook{
  display: flex;
  justify-content: end;
  margin-right: 80px;
  
 }
 .ebook:hover{
  cursor: pointer;
    transform: scale(1.3);
    transition: .5s;
 }